 {{>layout/header}}

<main id="explore">
	<ul class="explore__users u-default-box">
		{{#dto}}
		<li class="explore__user">
			<div class="explore__content">
				<img src="/images/avatar.jpg" />
				<div class="explore__info">
					<span class="explore__username">{{name}}</span> <span
						class="explore__full-name">{{username}}</span>
				</div>
			</div>
			<button>Follow</button>
		</li>
		{{/dto}}
	</ul>
</main>

{{>layout/footer}}
